[2021-08-30 20:53] sven41 opened #1 "TV channel error Ziggo sport"
I install the code but the problem don't solve..  TV` channel 14 Ziggo sport does not provide the information available

![117196810-42851280-ade7-11eb-98b9-31be25023fd1](https://user-images.githubusercontent.com/60574634/131404317-42fe16a2-8fe3-4f70-a657-8808f705cd08.png)

![foto](https://user-images.githubusercontent.com/60574634/131404174-99a5cda2-395b-44e2-a0d3-ee9ebfe5b29a.JPG)

[2021-08-31 21:27] bkbartk opened #2 "audio controls"
Hello Sholofly,

Thank you for this great tool, I didn't notice the other one was deprecated before.
this one works well.
I started creating a remote based on this one
https://github.com/bkbartk/Ziggo-Remote-Control
nog sure is anyone else has done this already.

one question I have at the moment is if it is somehow possible to manage audio control using the ziggo box. I know this isn't the usual

[2021-08-31 21:45] Sholofly commented on #2
Hi Bart,

Thank you!
I did (officially) deprecate it yesterday so it's not surprising you haven't  noticed before.
The audio controls do control the audio on your television, as far as i know it's not possible to manage audio using your Arris box.
Perhaps you can use a Broadlink RM mini to control your TV audio via RF?

[2021-08-31 22:31] StevoNL commented on #2
Hey Bart,

Looking at you're remote control git it seems you have a LG tv? Anyway if your tv has an integration in Home Assistant you can combine different functions from media players to act as one using [Universal Media Player](https://www.home-assistant.io/integrations/universal/). For instance the all the goodies of the arrisdcx960 aka Ziggo Next combined with the volume control from the LG we

[2021-09-01 05:17] Sholofly commented on #2
@StevoNL good suggestion about the media player. Maybe someone can add the possibility to my component to define service calls for the volume controls in the setup. I.e. wen you call the volume up call from my component, then call the volume up from the WebOS component..  do you understand what I mean? I am not able to test it myself because my tv doesn't support WebOS..

Thanks for the compliment

[2021-09-01 06:37] StevoNL commented on #2
@Sholofly I disagree with you there. Home Assistant is DIY making things work together. Your integration focuses on the mediabox. Adding the volume controls from your component means that the config flow will become more complicated if service calls for other devices are involved (maybe even having to add yaml in the config.yaml again). A breaking component then will break yours as well. Home Assi

[2021-09-01 08:59] bkbartk commented on #2
Hello,
thank you both for your response.
I indeed have an LG tv using webos.
this one also is connected to HA. with a working remote.
At the moment I am able to just swap the remote in HA to manage audio, but it would be nice to not have to do that.
If someone would create some implementation for webOS I would be able to test is. I'm not a python developer so I can't help much with that past, Also

[2021-09-01 12:54] Sholofly commented on #2
Excellent point. You're right!

Sorry, misread the sentence. Good to hear it is of use!

How did you activate a command on the (self created?) voice command: "Hey Google, sluit jij af?"?

Nice :)

[2021-09-01 12:56] Sholofly commented on #1
Please enable debug logging for the ziggonext library and post pr mail your log (please anonimize sensitive data). I will examine it to find the issue.

[2021-09-01 13:06] StevoNL commented on #2
Google Routines. Sadly you can only select lights, thermostats and locks natively. To turn off the decoder it's necessary to select "Je eigen opdrachten toevoegen" and then type your otherwise spoken command.  I typed "Schakel tv uit"

[2021-09-01 13:24] golles commented on #1
I had the same issue with the previous version and first thing checked after installing this one and indeed the issue is still present.
Please check the info that I logged in this issue: https://github.com/Sholofly/ZiggoNext/issues/68#issuecomment-821800271

[2021-09-01 13:25] golles opened #3 "config flow no strings"
First of all congratulations on your new intagration!

While setting up I didn't see any strings in the config flow:
![Screenshot 2021-09-01 at 15 09 41](https://user-images.githubusercontent.com/2211503/131679348-60aac8e3-d995-49a9-bc5e-838677211667.png)

[2021-09-01 13:29] Sholofly commented on #1
Hi @golles Thanks. It's indeed a strange issue. It looks like it can't gather the correct info for this channel. As soon as I have time I will dive into this issue. Thanks for you patience.

[2021-09-01 13:31] Sholofly commented on #3
What's your ui language?

[2021-09-01 13:32] golles opened #4 "Couple of ModuleNotFoundError's"
After starting HA with this integration added (not configured yet) I got this stack trace, this is literally the beginning of my log
From the trace, I don't really see where these missing imports are referenced.

After restarting when configured, the trace also appears.

[code]

[2021-09-01 13:37] golles opened #5 "Nice to have; add brands icon"
If I remember correctly this is also a requirement to get your repo listed in [HACS](https://github.com/golles/default)

But even without adding that, adding your logo to this repo, will show that on the integrations page:
https://github.com/home-assistant/brands

[2021-09-01 13:38] golles commented on #3
My HA is set to NL, checked on 2 computers (NL and EN)

[2021-09-01 13:43] Sholofly commented on #3
What version is your HA and whta version of my component do you use? You have errors i can't explain ...

[2021-09-01 13:49] golles commented on #1
I remember I've looked into it earlier as well and I remember that those Ziggo channels are not in the data. I think it was also the other channels (400 range) only the public Ziggo TV (13) doesn't have this issue.
But! It is already a while ago that I checked...

[2021-09-01 13:49] Sholofly commented on #5
Thanks for you efforts!

Yeah you are right but I'm not too good in graphics. Feel free to add the icons with a PR. Should be this logo I guess: https://www.wearetfd.com/wp-content/uploads/2019/05/Arris-logo.png.

If you are good with icons but not with Git(hub) please send me the icons and I will do the PR if you like!

[2021-09-01 13:51] golles commented on #3
HA: 2021.8.8 (latest) component (dev branch, latest).
Indeed #4 I don't understand myself, I'll try to see myself as well

[2021-09-01 13:51] Sholofly commented on #2
Because it is a function of the remote and not the box I will close this FR. Thanks and feel free to submit more issues or FR in the future!

[2021-09-01 13:51] #2 closed

[2021-09-01 13:52] Sholofly commented on #3
Have you tried to reinstall the component?

[2021-09-01 13:53] Sholofly commented on #1
Does the ziggogo.tv website show images when you control the box using the site?

[2021-09-01 13:56] golles commented on #5
Haha, I did it with the webtool suggested on that page. But I can do it

[2021-09-01 14:00] Sholofly commented on #5
Didn't see that tools in the bottom. Doesn't look too difficult :). Thanks m8!

[2021-09-01 14:07] golles commented on #3
I removed it from disk and checked out again with a restart in between and that fixed it, so something went wrong on my side, closing it

[2021-09-01 14:07] #3 closed

[2021-09-01 14:07] golles commented on #4
I removed it from disk and checked out again with a restart in between and that fixed it, so something went wrong on my side, closing it

[2021-09-01 14:07] #4 closed

[2021-09-01 14:21] golles commented on #5
[arris_dcx960.zip](https://github.com/Sholofly/arrisdcx960/files/7091809/arris_dcx960.zip)
I think this should do

[2021-09-01 15:17] golles commented on #5
https://github.com/home-assistant/brands/pull/2785

[2021-09-01 15:21] sven41 commented on #1
![afbeelding](https://user-images.githubusercontent.com/60574634/131698409-73069179-c173-4566-9b2c-1ae5b735c689.png)

[2021-09-01 17:02] Sholofly commented on #1
Is this when your channel is on 14?

[2021-09-01 17:32] sven41 commented on #1
Yes man!

[2021-09-01 18:06] iansharpecork opened #6 "Virgin Media Ireland"
When i try to run component.
I get 'can't connect' .
User and pass is correct.

Output from logs:
Logger: custom_components.arris_dcx960.config_flow
Source: custom_components/arris_dcx960/config_flow.py:48
Integration: arrisdcx960 (documentation, issues)
First occurred: 6:30:22 PM (3 occurrences)
Last logged: 6:31:27 PM

'householdId'

[2021-09-01 18:21] bkbartk commented on #2
thank you both I just wanted to let you know, I managed to connect the  audio to the LG tv.
I tried to make it somehow generic for philips etc. but I actually think the method names are different so those need to be overruled as well. but for now it works.

[2021-09-01 18:40] Sholofly commented on #6
Hi Ian, thanks for your feedback. I will get back to you soon as I need your input for testing.

[2021-09-01 19:37] iansharpecork commented on #6
tried changing householdId to household_id in the const.py and it still doesnt work, if that helps

[2021-09-03 14:40] golles commented on #5
Above mentioned PR has been merged

[2021-09-03 14:40] #5 closed

[2021-09-03 18:42] Sholofly commented on #5
That's brilliant. Thanks!

[2021-09-03 20:45] Sholofly commented on #6
Would you mind to add
[code]

to your logging cnfiguration? Please send me the logs after you anonimized them.

[2021-09-04 09:37] steuerzentrale opened #7 "issues during setup"
Hi there

first of all many thanks for this nice integration. I already used ziggonext with a UPC tv box from Switzerland. The box was being recognized as a media_player entity and worked fine despite it lost connection every now and then. I was pleased to read that you created a new integration and just tried to set it up.

**setup**
Home Assistant OS core-2021.9.2 on Raspi 4
supervisor-2021.08.1

[2021-09-04 10:04] Sholofly commented on #7
Hi Andrew, thank you for reaching out. You should be able to find the integration through the UI when you've installed the component through hacs. Prior to that you should remove the yaml configuration. Is it possible to do a shared screen session using discord to find the culprit?

[2021-09-04 11:09] Asinke commented on #7
Same issue here, unable to find the integration after removing the ziggoNext -> reboot -> install ArrisDcx960 through HACS.
Please share a solution, i'm not at home right now hence cannot support a remote session.

Arthur

[2021-09-04 12:25] Sholofly commented on #7
Step 1:
![image](https://user-images.githubusercontent.com/901632/132094105-f2f0573b-af62-42c1-8637-80b3d9dc6e07.png)

Step2 (isn't it in this list? Then you should update HACS i think. It's in the main repo ..):
![image](https://user-images.githubusercontent.com/901632/132094131-349654ae-40b5-4572-bb51-201560b3cdd5.png)

Step3:
![image](https://user-images.githubusercontent.com/901632/132094143-8

[2021-09-04 12:30] JBakers commented on #7
And here also same issue.
Integration installs fine with HACS.
After server restart it does not show up when searching for arris dcx960
![arris](https://user-images.githubusercontent.com/13487054/132094496-1313a4b8-bea6-445e-9baf-d2908d37377e.jpg)

[2021-09-04 12:36] Sholofly commented on #7
Is there info in the logs?
Dis you remove the custom repository?

[2021-09-04 12:43] JBakers commented on #7
Clearing the cache fixed the issue for me!

[2021-09-04 12:50] Sholofly commented on #7
@steuerzentrale Would you like to try clearing the cache and close this isue if that fixes it?

[2021-09-04 12:54] Sholofly commented on #1
I am affraid i can't help you. It looks like the info is not in your account or so...

[2021-09-04 13:10] golles commented on #1
I just double-checked and channel 401 is working fine.
Could it be that channel 14 is just a"pointer" to channel 401? From what I quickly could see is that they have the same content https://www.ziggosport.nl/programmagids/

[2021-09-04 14:10] Asinke commented on #7
Checking again an hour later, now i was able to select and install the integration.
Install failed however with "Error running config flow", i then reinstalled/rebooted the system and setup completed succesfully.

Thanx for the great App!

[2021-09-04 16:12] steuerzentrale commented on #7
Hi there

many thanks for the quick reaction. I can confirm that clearing the cache fixed the issue.

[2021-09-04 16:18] #7 closed

[2021-09-04 19:18] sven41 commented on #1
I have contacted ziggo they have never heard of the problem and I had to create a topic on their site so continued maybe it is an idea that you also respond to my topic that you have the same problem.

https://community.ziggo.nl/t5/Ziggo-GO/Ziggo-sport-14-Geen-programma-informatie/td-p/836077

[2021-09-07 14:31] bkbartk opened #8 "Losing Connection"
Hello,

I had the same issue with the ziggoNext plugin, but I'm going to add it again.
Sometimes the plugin suddenly stops updating the current status and the controls won't respond anymore.
It was about this issue
https://github.com/Sholofly/ZiggoNext/issues/53
Not sure if there is any logging I can enable to provide some more details.

[2021-09-07 22:35] petethumped commented on #6
same issue here & credentials are definitely correct

adding logging for logging **ziggonext: debug** to configuration.yaml doesn't generate any new logs when attempting to set up the integration.

adding **custom_components.arris_dcx960: debug** & attempting integration setup returns:

2021-09-07 23:26:47 ERROR (MainThread) [custom_components.arris_dcx960.config_flow] 'householdId'

[2021-09-08 04:11] Sholofly commented on #6
Hi,

Please remove the custom_component part from your logging line. In that way
it wel debug the underlying python package. I've changed the naming of that
package...

Ty!

Op wo 8 sep. 2021 00:35 schreef petethumped ***@***.***>:

[2021-09-08 20:24] petethumped commented on #6
ok that's.... that's a lot of data

how much of it do you need to see?

[2021-09-08 20:30] petethumped commented on #6
actually the first line is reporting the full details of my account, my set top boxes, and presumably my channel entitlements, so i guess it's just these lines? (I've replaced parts of the tokens with XXXXXs JUST IN CASE)

2021-09-08 21:20:03 DEBUG (SyncWorker_5) [arris_dcx960.arrisdcx960] Doing API call with url: https://prod.oesp.virginmediatv.ie/oesp/v4/IE/eng/web/tokens/jwt

2021-09-08 21:20:0

[2021-09-08 21:25] Sholofly commented on #6
It's always hard to tell. I think it's in the logs just before the error shows up.

[2021-09-08 22:02] petethumped commented on #6
I'm not seeing anything that looks like an error in the logs, just those debug messages.

[2021-09-08 22:21] Sholofly commented on #6
The error line from before about the household id should be there somewhere

Op do 9 sep. 2021 00:02 schreef petethumped ***@***.***>:

[2021-09-08 22:27] petethumped commented on #6
nope, i'm not seeing that at all - the first line (the one with all my account info, boxes, and channel details) mentions householdId & references my account number with _ie appended to it a couple of times, e.g.

'householdId': '12345678_ie'

[2021-09-08 22:42] Sholofly commented on #6
It looks like we need to do a discord session soon. I can help you with
Debugging. Saturday evening an option?

Op do 9 sep. 2021 00:27 schreef petethumped ***@***.***>:

[2021-09-10 18:19] bkbartk commented on #8
not sure if this one is related,
but sometimes the add on says "No Information available" and this stays until the media box(not HA) is restarted.
It's a different issue, but might has the same cause.
I grabbed something from the log, but I'm not sure if this is what is needed.

2021-09-10 17:54:59 DEBUG (Thread-4) [arris_dcx960.arrisdcx960box] Updating box 3C36E4-EOSSTB-003703073902 with payload

[2021-09-13 09:30] banolka opened #9 "TESTING for POLISH UPC TV"
Hi I'm from Poland and keen to test UPC 4k TV BOX integrations

[2021-09-13 18:56] Sholofly commented on #9
Hi Banoika, Unfortunately the Polish hardware is not supported. Only the arrisdcx960 boxes are supported.
But lot of thank you for your offer to help!

[2021-09-13 18:56] #9 closed

[2021-09-13 18:58] Sholofly commented on #8
Hi @bkbartk, these logs show that the channel info could not be processed. But this isn't the reason the box becomes responsive. Wasn't there any info below these lines?

[2021-09-13 18:59] Sholofly commented on #1
I subscribed to the topic but it looks like it is an issue at the Ziggo side. Therefore i will close this issue.

[2021-09-13 18:59] #1 closed

[2021-09-13 20:53] golles commented on #1
Indeed, Ziggo should fix this. Using channel 401 and not 14 is a"workable" solution for now

[2021-09-16 12:10] bkbartk commented on #8
I think there was not, but if the issue happens again I will check the log.
I haven't had any issues since, so the issue might just resolved it self. I have the feeling connection gets lost when some ziggo service is unreachable. and after that it doesn't come up again, but I'm not completely sure about this.

[2021-09-17 14:21] Sholofly opened #10 "Multiple accounts give error in HA"
**Describe the bug**
When a second account is added, the startup of the Arris component gives a key error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to integrations
2. add a second arris implementation
3. restart home assistant
4. See error in log:
[code]

**Expected behavior**
No erros and an available player

**Screenshots**
If applicable, add screenshots to help explain your probl

[2021-09-17 14:22] Sholofly commented on #10
@richardtrinks, I was able to reproduce your issue. No solution found yet.

[2021-09-17 16:21] richardtrinks commented on #10
I reinstalled the integration and added both accounts.
But since this afternoon I saw that problem again, but I'm glad you were able to reproduce it too.

If there is a solution for it, I am recommended to test it.

[2021-09-24 06:17] zheffie opened #11 "Error: cannot import name 'AddEntitiesCallback' from 'homeassistant.helpers.entity_platform"
Hi @Sholofly,

I'm attempting to install your integration for Telenet. I installed the HACS and HA integration and configured my credentials. It successfully creates the Arris integration, but no device/entity is created, Log shows below error:

[code]

my HA version is 2021.5.5.

Any idea what could be wrong?

[2021-09-24 06:38] zheffie commented on #11
Upgraded HA version to latest version. Seems resolved now

[2021-09-24 06:38] #11 closed

[2021-09-24 06:40] Sholofly commented on #11
I was already typing an answer :). Glad to hear it is resolved.  I will update the hacs file with the correct version of HA. Please feel free to leave any feedback or feature requests!

[2021-09-29 16:26] bkbartk opened #12 "Detect what YouTube movie is playing?"
is it possible to detect which YouTube movie is playing?
Unlike other channels. YouTube only shows YouTube. Without the actual movie.

The main goal is to detect YouTube commercials and then auto press ok after 5 seconds.

Not sure. I think it’s a YouTube limitation. But if possible it would be great.

[2021-09-29 16:32] Sholofly commented on #12
Unfortunately it's not possible. The box doesn't communicate the status of
apps. As reference  you can take the web player of your provider.
Everything they show is possible in the component ..

Op wo 29 sep. 2021 18:26 schreef bkbartk ***@***.***>:

[2021-10-01 10:52] famko09 opened #13 "Google Home"
I have installed the integration for the Arris DCX960 in HA. It's showing in the UI, I can switch it on and off, so fa so good. But it is not showing in Google Home, so I can't use Google Assistant to control the Arris DCX960 with voice control. Is this possible?
Other devices do show up in Google Home.
Thanks for your help

[2021-10-01 21:37] Sholofly commented on #13
Hi,

It should work like the other media players. Please check if you've exposed
it to your Google home.

Op vr 1 okt. 2021 12:52 schreef famko09 ***@***.***>:

[2021-10-05 20:43] Sholofly commented on #10
@richardtrinks found the issue. Very stupid one :) Please update the component. Note that (in the latest beta at least) sometimes after a reboot some accounts give an invalid credentials error. Don't know the exact reason for it.

[2021-10-05 20:43] #10 closed

[2021-10-05 20:43] #13 closed

[2021-10-05 20:44] #8 closed

[2021-10-05 20:44] Sholofly commented on #6
@petethumped Please let me know if you need any assistance..

[2021-10-05 22:31] petethumped commented on #6
sorry, completely forgot about this!

just installed the latest version on the latest HA beta but still getting the same "Can't connect" message back, and the HA logs still show data coming back from the virginmedia.ie API

[2021-10-06 17:22] mwilky opened #14 "Virgin Media UK Can't Connect"
Everything worked fine until mid day today. Then the entity went to offline so I removed the component and tried re adding and ever since I haven't been able to get it to reconnect.

Not sure which logs will help so please let me know what you require

[2021-10-07 09:43] #14 closed

[2021-10-13 16:58] NicoLPHA opened #16 "Send notification to tv"
When you change channel you see a notification on tv
Is it possible to send a standalone notification with your own text

Nico

[2021-11-12 18:03] moostmartijn opened #17 ""Unable to load config flow" error while adding integration on the HA integration page"
I installed the integration trough HACS and tried to add the integration on the HA integration page but I received an error:

"
Fout
Config flow kon niet geladen worden
"

Unable to load config flow

Log:
2021-11-12 18:47:21 ERROR (MainThread) [homeassistant.config_entries] Error occurred loading configuration flow for integration arris_dcx960: cannot import name 'FlowResult' from 'homeassistant.d

[2021-11-24 15:52] joshward9182 opened #18 "Doesn't Show in HACS Search"
**Describe the bug**
Repository is not found when searching for it in HACS.
HACS recognises that the repository already exists, if I try to add it as a custom repository, but the Integration is not found.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to HACS
2. Click on 'Integrations'
3. Click on 'Add repository'
3. Search for 'ArrisDCX960'
4. Repository not found.

**Expected behavior*

[2021-11-24 18:37] Sholofly commented on #18
Hi @joshward9182, I can't explain why this ahappens to you. Are you sure you don't have the repo already installed? Maybe you have to reboot HA first to clear the repo-cache?

[2021-11-24 19:19] joshward9182 commented on #18
Thanks for the reply @Sholofly.

I definitely don't have it installed already.
I have attempted a full reboot (power cycle) of the RPi which doesn't appear to have solved the issue.

I have also asked, on a Facebook group, if anyone else was able to find it and had a response from someone saying it is found correctly for them.

HACS also comes up with the "New Repositories", so appears to detect &

[2021-11-28 11:09] AyloKieran commented on #18
Hey both, I am experiencing the same issue here

version | core-2021.11.5
host_os | Home Assistant OS 6.6
supervisor_version | supervisor-2021.10.8

[2021-11-28 19:41] joshward9182 commented on #18
@AyloKieran kind of nice to know I'm not the only one..
I wonder if it's a HACS issue..

I updated from HACS 1.17.2 to 1.18.0 earlier, didn't seem to fix it.

When I get time, I might do a fresh install and restore a snapshot as I also seem to be having issues with loading Add-on logs.
See if that helps.

[2021-11-30 21:21] Sholofly commented on #18
I guess it's an HACS issue, but I am not sure. There has been a major update yesterday, does updating fixes the problem?

[2021-11-30 21:26] Sholofly commented on #17
Hi @moostmartijn, Sorry for the late response. I suspect that my compatibility data is not right. I am trying to figure out what the minimum version is that the component supports. Sorry for any inconvenience

[2021-11-30 21:31] Sholofly commented on #17
@moostmartijn Found it already, you'll need at least version 2021.5.0.

[2021-11-30 21:31] #17 closed

[2021-11-30 21:32] Sholofly commented on #16
Nope, tried different ways to achieve it, but without any luck :s

[2021-11-30 21:32] #16 closed

[2021-12-01 09:53] p83ot commented on #18
I have the same issue.
My HACS version is 1.18.0
Under HACS about I see that I have 3 downloaded repositories:
But I only see 2 of them in the integration tab. (see pictures below).
Mayby the third one is the invisible arrisDCX960
I've updated HACS to version 1.18.0 some days ago. Now I don't see a new upgrade available for HACS.

![image](https://user-images.githubusercontent.com/94972206/1442120

[2021-12-01 13:46] joshward9182 commented on #18
@Sholofly I found my issue.

Under my HACS configuration, I have a 'GB' country filter (see screenshot).
![Screenshot_20211201-134243__01.jpg](https://user-images.githubusercontent.com/69898979/144245529-38744a05-b244-489c-870a-067d70084b26.jpg)

I think it's because your 'hacs.json' file only has 'NL' in the array.

[2021-12-01 14:17] p83ot commented on #18
that solved it for me too. Thanks @joshward9182 !
My filter was 'BE'. When I set it to 'ALL' the integration appeared.

[2021-12-06 16:16] bafplus opened #19 "BREAKING CHANGE in HA 2021.12"
Entity media_player.mediabox (<class 'custom_components.arris_dcx960.media_player.ArrisDCX960MediaPlayer'>) implements device_state_attributes. Please report it to the custom component author.

[2021-12-07 14:34] Sholofly commented on #19
Resolved in latest version!

[2021-12-07 14:34] #19 closed

[2021-12-07 14:42] Sholofly commented on #18
Thanks, I've added the countries.

[2021-12-07 14:42] #18 closed

[2021-12-07 16:11] bafplus commented on #19
Is it? Cause its only fixed in the master branch but latest version still
gives the issue

Op di 7 dec. 2021 om 15:34 schreef Rudolf Offereins <
***@***.***>:

[2021-12-07 19:19] Sholofly commented on #19
Have you refreshed hacs, and restarted? It is fixed for me...

Op di 7 dec. 2021 17:11 schreef bafplus ***@***.***>:

[2021-12-07 19:53] bafplus commented on #19
Yep worked! Thanks!

[2021-12-24 17:08] askmurphy opened #20 "Option to check if the mediabox is powered on/off"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
 I want to switch a lamp on/off depending of the mediabox is powered on or off.  How can I do that?

**Describe alternatives you've considered**
none

**Additional context**
-

[2021-12-24 18:57] Sholofly commented on #20
@askmurphy Merry Christmas! The mediaplayer has a state. Can't you switch the lamp on when the box isn't in the 'off' state?

[2021-12-24 19:29] askmurphy commented on #20
Can't find the state of it, i see a list of channels but no on/off state?

[2021-12-24 19:31] askmurphy commented on #20
![image](https://user-images.githubusercontent.com/16864371/147370238-b6366cc3-3bee-4c25-9de7-a908e18ea9b0.png)

[2021-12-24 19:31] askmurphy commented on #20
Any ideas?

[2021-12-24 19:45] Sholofly commented on #20
![image](https://user-images.githubusercontent.com/901632/147370561-36e15058-045f-472f-878f-9b42e74fab13.png)
one is playing other is off.

[2022-01-02 20:45] bkbartk opened #21 "connection lost"
**Describe the bug**
Connection with ziggo box gets lost

**To Reproduce**
don't know

**Expected behavior**
Connection doesn't get lost

**Screenshots**
![image](https://user-images.githubusercontent.com/17070805/147888979-5e2e7ffb-7b19-4471-af4d-09d5df689ac9.png)
in any state

**Logging**
2022-01-02 20:02:02 DEBUG (Thread-4) [arris_dcx960.arrisdcx960] Not authorized mqtt client. Retry to connect

[2022-01-04 12:08] kjw1985 opened #22 "Ziggo Next first time login not working v1.0.11 but does in v1.0.10"
Last week I received my Ziggo Next box and installed this custom integration. Added the integration and filled in the needed information. However my Next box wasn't available in home-assistant. In the logs there was a error present (unfortunately I didn't copied the error). Tried several things by removing the integration and re-adding it, updated HASS to 2021.12.7, downgraded to 2021.12.6 and upd

[2022-01-04 12:54] Sholofly commented on #22
Hi @kjw1985 Thank you for your report. Since there's no functional difference between the two versions, it's likely that its a bug that's there for a longer time. I am not able to reproduce it, so I will keep this bug open for a while to see if more people are experiencing the same. Please let me know if you runs into more issues or have feature requests!

[2022-01-05 15:52] Sholofly commented on #20
Closed. Requested functionality is already there.

[2022-01-05 15:52] #20 closed

[2022-01-13 14:37] Sholofly commented on #22
Hi @kjw1985 is everything working fine for you now?

[2022-01-13 14:51] bkbartk commented on #21
Not sure. The issue occurs sometimes. At that point I need to restart ha.
this morning I updated to the latest.
but sometimes this issue occurs on a daily bases. Other times it goes well for over a month.
I have the feeling the issue occurs less often. When I have debug logging enabled. But this only is a feeling.

[2022-01-13 18:09] kjw1985 commented on #22
@Sholofly At the moment is seems to be working fine. Although I must say I'm not using it extensively and the Next box's energy mode isn't set to high. So it is unavailable (as expected). The only issue I had was that it wasn't updating the status for a day, but this might have been the reaction to some network hiccups I created. I will test keep an eye on the integration to see if the 'problem' c

[2022-01-13 18:38] Sholofly commented on #22
Do you have a channel number to open the NPO plus app?

Op do 13 jan. 2022 19:09 schreef kjw1985 ***@***.***>:

[2022-01-13 19:08] kjw1985 commented on #22
The NPO app is at channel 152. I saw that Prime Video (I don't use this) is on channel 153.

[2022-01-15 00:17] Sholofly commented on #22
@kjw1985 I've updated the component. The channels are available in the source list now.

[2022-01-15 00:18] #22 closed

[2022-01-31 08:46] bkbartk commented on #21
I have a simular issue now
mediabox is turned on
![image](https://user-images.githubusercontent.com/17070805/151763202-9a66e7c2-5686-4337-8e73-89c5e2bc461e.png)
however, the log shows a different message.

2022-01-31 09:17:00 DEBUG (SyncWorker_1) [arris_dcx960.arrisdcx960] Raw result: {"quota":1440000,"occupied":127380}
2022-01-31 09:17:30 DEBUG (SyncWorker_4) [arris_dcx960.arrisdcx960] Doing API

[2022-01-31 13:15] kgeusens opened #24 "Integration stops after some time, needs to be restarted"
**Describe the bug**
DCX960 integration stops working after some time of inactivity, stack trace in log.
Connected to Telenet.
Log trace contains:
File "/usr/local/lib/python3.9/site-packages/arris_dcx960/arrisdcx960.py", line 300, in _on_mqtt_client_connect

**To Reproduce**
Steps to reproduce the behavior:
Integration works fine when interactive. I notice the problem the next day when the mediap

[2022-02-01 16:02] Sholofly commented on #21
@bkbartk This log hasn't to do with the fact that your integration stops. This is the call for retrieving your remaining storage.
Is there no error in the logs. You should be able to see that one with the loglevel set to warning. (default)

[2022-02-01 21:35] bkbartk commented on #21
True. But it still tells me something as the log is missing other requests like these
![CEE9141B-6AE3-4B66-9C22-B113206C3643](https://user-images.githubusercontent.com/17070805/152055104-1bfeab20-9bef-488d-9751-5f2e0d7739b9.png)
Sorry for my screenshot. I’m on mobile now.
Only the quota gets retrieved. None of the other requests are done. That’s probably why it can’t update the device status.

[2022-02-10 11:00] bkbartk commented on #21
a small update,
lost connection again,
I checked the log more closely,

2022-02-10 04:43:08 DEBUG (SyncWorker_16) [arris_dcx960.arrisdcx960] Raw result: {"quota":1440000,"occupied":173820}
2022-02-10 04:43:29 DEBUG (Thread-4) [arris_dcx960.arrisdcx960] Not authorized mqtt client. Retry to connect
2022-02-10 04:43:29 DEBUG (Thread-4) [arris_dcx960.arrisdcx960] Disconnected from mqtt client: 5
2022-

[2022-02-21 22:22] bkbartk opened #26 "Ziggo modified API"
I'm not sure what happened. but it looks like ziggo has limited the maximum amount of request or concurrent logins.

When I restarted HA the addon would't come up and I had the error below. I also count's login to any ziggo service so I changed my pw.
then I could login, and I reinstalled the add on. after that the addon would install using the credentials. but would start because of incorrect cre

[2022-03-06 13:24] RobDiederen commented on #24
I have a similar problem, I think it happes with my integration because I turn off the power on the media box (ziggo Media box) at night and if I leave my house.
Is it possible to reload the integration after the media box has restarted or something ?

[2022-03-10 21:25] JBakers opened #27 "Integration can't login"
Ziggo integration can't login anymore.

Sadly i tried removing the integration and reinstall it to try and fix it.
`2022-03-10 21:51:46 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry Ziggo Next for arris_dcx960
Traceback (most recent call last):
File "/srv/homeassistant/lib/python3.9/site-packages/homeassistant/config_entries.py", line 313, in async_setup
result = await c

[2022-03-11 09:09] guidostek commented on #27
Same here. Integration stopped working two nights ago. I noticed because my automations for lights based on the mediabox stopped working.

Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 335, in async_setup
    result = await component.async_setup_entry(hass, self)
  File "/config/custom_components/arris_dcx960/__init__.py", line 45, in asyn

[2022-03-11 12:36] Sholofly commented on #27
Thanks for reaching out. I can't reproduce the error in any way. Analyzing your log files it looks like the connection with the mqtt server did not succeed, due to an error on the Ziggo side. Of course this should be handled by the component, but can't figure out how to do that in a good way. I dive in further as soon as I have time.

[2022-03-11 12:41] Sholofly commented on #26
Strange, I have three Ziggo boxes ATM and even when they're all active and I'm connected on the ZiggoGo website, I'm still able to use the component. Are you still facing this issue?

[2022-03-11 13:44] bkbartk commented on #26
no, not anymore,
I had this issue for a day or 2 and I expected something to be changed, but probably this was a bug and not a feature.

[2022-03-11 13:44] #26 closed

[2022-03-11 14:55] Sholofly commented on #26
In issue #27 I will keep track of my progress in making the component continue after such outages. Thanks for the feedback!

[2022-03-11 17:59] guidostek commented on #27
I had several web services quitting on me during the last couple of days.  Several reboots and now I am connected again.

No idear why it did not work two days in a row.

[2022-03-12 11:34] JBakers commented on #27
I still cant connect.
I removed the integration, but cant reinstall it because also the initial setup (username/pass/provider) says it can't connect.

[2022-03-16 18:05] petersmaikel opened #28 "After installing custom component unable to add the integration"
I have installed the ArrisDCX960 custom component via Hacs

When i than look voor the integration in Home Assistant i'm unable to find it.
uninstalling and reinstalling the custom component with reboots in between did not solve the issue.

![image](https://user-images.githubusercontent.com/75754224/158656994-779b9dff-9045-4987-b133-dfe9172c9541.png)
![image](https://user-images.githubusercontent.c

[2022-03-19 22:12] Palitami commented on #28
+1, same issue here

[2022-03-20 00:10] Palitami commented on #28
Thanks for the "workaround" with prior version, it's working now

[2022-04-03 06:03] th0f commented on #28
What's the workaround? Custom installation?

[2022-04-05 17:48] WesleyLiekens opened #29 "New type of EOS box available in Belgium"
Hello,

I would just like to let you know that there is a new version of the tvbox in Belgium
And its not an Arris DCX960 but a Humax 2008C-STB-TN
your integration finds it but it just gives it the wrong brand/type

I have also send this to Jochen Siegenthaler for his homebridge plugin, as I am his Belgium tester

I happen to work for Telenet Belgium so if I can be of any help to you with this ple

[2022-04-06 14:54] Sholofly commented on #29
Thanks for the heads up. Can you inform me what works and what doesn't?

[2022-04-07 08:22] WesleyLiekens commented on #29
it seems everything works fine
only seems to get the wrong brand/type

[2022-04-07 18:12] Sholofly commented on #29
Do you mean the logo?

Op do 7 apr. 2022 10:23 schreef WesleyLiekens ***@***.***>:

[2022-04-07 18:48] WesleyLiekens commented on #29
No. Your integration says the decoder is a dcx960 by arris

But Its a 2008C-STB-TN by Humax

![image](https://user-images.githubusercontent.com/63705562/162275211-05256d18-6bee-4c3a-99f4-34a1d8432a75.jpeg)

[2022-04-10 10:03] emiece opened #30 "Can’t connect"
**Describe the bug**
Can’t connect error message

**To Reproduce**
Adding new account

[2022-04-11 04:54] Sholofly commented on #28
Clear the browser cache, check the logs for errors?

[2022-04-11 18:00] Sholofly commented on #28
Do you have an Arrix Box?

[2022-04-11 19:12] gregbtm commented on #28
I believe so. Its virgin 360. I thought they all were.

Sent from ProtonMail mobile

-------- Original Message --------
On 11 Apr 2022, 19:00, Rudolf Offereins wrote:

[2022-04-13 19:35] #30 closed

[2022-05-06 16:03] Dyka007 commented on #27
i have the same problem as @JBakers it is only not ziggo but telenet, can anyone help me?

[2022-05-28 20:22] robertwebbe commented on #28
I have the same issue. It works fine on my old Pi. Tried to install it on my my new Pi4 and cannot find the integration after installing in HACS (and rebooting).

[2022-05-28 20:32] robertwebbe opened #31 "New type of EOS box available in The Netherlands"
I have a Ziggo Mediabox **Next Mini** (Arris VIP5002W-ZG) and it is working on the EOS platform as well.
The integration knows only one model, the DCX960:

![screenshot](https://tweakers.net/fotoalbum/image/1SGsvIektb0y0NhmwC73p7Si.png)'

Is it possible to recognize this new mediabox and show VIP5002W?

![Next Mini](https://tweakers.net/i/FF4Too2klyT7oZTfnQYPXN4qMCc=/i/2005054304.png)

[2022-05-29 05:03] Sholofly commented on #31
@robertwebbe it's only the name of the integration.that doesn't match the box you have. What would be the benefit of changing the name of the integration?

[2022-05-29 05:04] Sholofly commented on #28
Have you cleared the browsers cache?

[2022-05-29 10:51] robertwebbe commented on #31
@Sholofly

If I may make a suggestion: I would find it more logical and clearer if the name of the integration were called **Liberty Global**, it runs on this platform. There are now several types using this platform. The DCX960 is no longer the exclusive type.

Is it possible to read the type? Because then you can put DCX960 or VIP5200W.

[2022-05-29 11:04] robertwebbe commented on #28
I'm sorry, you already suggested that in an earlier comment, I did not...
And it worked when I did that. Excellent, thank you very much!

[2022-05-29 11:54] Sholofly commented on #28
You're welcome. I'm glad it worked!

[2022-05-29 11:54] #28 closed

[2022-05-29 12:30] Sholofly commented on #31
All suggestions are more than welcome. Thanks for that. I think Liberty Global is a little too broad for this component, but I know how they call their television division... It was Horizon before, but that name doesn't cover it anymore..

[2022-06-10 10:51] WesleyLiekens commented on #29
any update on this?

[2022-06-10 19:36] Sholofly commented on #29
I'm busy with a great renaming, where this will be a part of. I'm lacking enough time for now..

[2022-06-11 10:03] WesleyLiekens commented on #29
ok cool.

[2022-06-26 09:13] golles opened #34 "Updating arris_dcx960 sensor took longer than the scheduled update interval 0:00:30"
**Describe the bug**
Since a couple of days, I get hundreds of these log lines

**To Reproduce**
n/a

**Expected behavior**
Obviously, the component to be able to update the state of the mediabox :-)

**Screenshots**
n/a

**Version of the component**
1.2.0
arris-dcx960==0.2.1

**Logging**
[code]

**Additional context**
Not sure if the`homeassistant.components.websocket_api.http.connection` error i

[2022-07-01 14:56] golles commented on #34
I think this was likely due to an issue on the provider's side, haven't seen this in the last 3 days.

[2022-07-02 12:35] golles commented on #34
Hmm, one day after closing, it's back

[2022-08-02 20:04] KennieNL commented on #21
Same issue here.
Shouldn't the token be renewed when reconnecting to the MQTT server on a later point in time?

[2022-08-04 12:53] 0xKiwan opened #35 "Can't connect (GB)"
**Describe the bug**
Getting can't connect when setting up the custom integration

**To Reproduce**

Steps to reproduce the behavior:
Attempt to sign into your VM account

![Screenshot 2022-08-04 135245](https://user-images.githubusercontent.com/22123241/182851686-81f81dc5-b5d7-4ee6-8d51-8d9159980d4b.png)

[2022-09-07 05:16] legi1 commented on #35
Same here in Switzerland with UPC Box (about 4 years old).

[2022-09-09 15:57] Jordenjj opened #36 "Can't connect (Ziggo)"
Whenever I enter my details, I get a can't connect error. This is on the ziggo mediabox next mini. It seems HA logs do not show any errors so im afraid I don't have any more information.

[2022-09-09 15:59] Jordenjj commented on #31
@robertwebbe Can you confirm it worked using the mini? I havent been able to found a way to connect.

[2022-09-09 17:16] robertwebbe commented on #31
@Jordenjj Yes, I have two mini’s activated.

I’ve added the first one when I also had a Next. I’ve sent the Next back and this one disappeared from the list. Maybe it doesn’t work for you because you don’t have a Next and it doesn’t work with a blanc list. But this is a wild guess.

[2022-09-09 18:11] Jordenjj commented on #31
Strange, that seems unlikely since they're both running the same operating system. To clarify, you've sent the next back but you can still see the next mini now?

[2022-09-09 18:26] Fifke commented on #24
Same problem here. Even if the box is switched on for several hours it became not responding... Very anoying because i use Alexa to switch it off true home assistant. When i restart the integration it works again... Telenet box.

[2022-09-10 09:08] Jordenjj commented on #36
A day later, I try a again and it works. Very strange.

[2022-09-10 09:08] #36 closed

[2022-09-10 12:30] Sholofly commented on #36
Hi! Sorry for the huge delay in my responses. Unfortunately the logging on the Ziggogo.tv site isn't accessible anymore. Therefore it's hard for me to debug or reverse engineer stuff. Besides that  I really could use en extra hand to go through my current Python code to review and make it more stable, since that's the issue now. So if you know someone...

[2022-09-10 12:32] Sholofly commented on #35
Hi! Sorry for the huge delay in my responses. Unfortunately the logging on the Ziggogo.tv site isn't accessible anymore. Therefore it's hard for me to debug or reverse engineer stuff. Besides that  I really could use en extra hand to go through my current Python code to review and make it more stable, since that's the issue now. So if you know someone...

[2022-09-12 10:20] StevenBrs commented on #24
Hi there
First of all, thanks for this great integration!
I also have above issue with a Telenet TV box. After a while the integration has to be restarted and after that works perfectly again (for a while).

versions:
- HA: 2022.8.7
- HACS: 1.27.1
- Arris DCX960: 1.2.0

[2022-09-12 19:31] twoenter commented on #34
Yes I have the same issue. But it is working here for like a day and than the states of ziggo media box and media box mini go to unavailable...

[code]

The media boxes are still online though. After reloading the integration everything works well.

[2022-10-11 08:13] Sholofly commented on #21
Probably, but I don't know how. I dont have documentation and the website
has changed so I am not able to reverse engineer it anymore. Feel free to
submit changes if you see a way!

Op di 2 aug. 2022 22:05 schreef KennieNL ***@***.***>:

[2022-10-12 20:55] sammyke007 opened #37 "Telenet not showing what's playing anymore since today"
**Describe the bug**
Since today my Telenet TVbox stopped showing what channel or recording is currently playing. It shows "playing", but not the channel name or recording anymore?

**To Reproduce**
Steps to reproduce the behavior:
Play something on the TVbox and check HASS.

**Expected behavior**
Show channel name or recording currently playing.

**Screenshots**
![Screenshot_2022-10-12-22-58-45-0

[2022-10-12 21:24] sammyke007 commented on #37
All of a sudden it revived... I'll test again tomorrow!

![Screenshot_2022-10-12-23-23-30-77_c3a231c25ed346e59462e84656a70e50.jpg](https://user-images.githubusercontent.com/33524412/195450771-bb4fe706-3728-446e-b257-8b7f9f95f25e.jpg)

[2022-10-14 07:25] keesg60 opened #38 "Ziggo changed their backend?"
The intergration has stopped working.
The error i’m getting is:
Can’t connect
Error 401.

I’m using Ziggo NL and know for sure my login is correct.
Looks to me, Ziggo has changed their backend.

[2022-10-14 07:59] DeadpoolW commented on #38
I have the same issue, in the logs I can see the following:

[code]

[2022-10-14 08:51] sammyke007 commented on #38
Same for Telenet!

[2022-10-14 08:52] sammyke007 commented on #37
Was working fine, but broken aigan. I think they are working on the API?

`Deze fout is ontstaan door een aangepaste integratie.

Logger: homeassistant.config_entries
Source: custom_components/arris_dcx960/__init__.py:45
Integration: Arris DCX960 (documentation, issues)
First occurred: 10:36:21 (1 occurrences)
Last logged: 10:36:21

Error setting up entry verdonck.sammy@gmail.com for arris_dcx960

[2022-10-14 09:21] ookonbekend commented on #38
Same issue here for ZiggoNL

[2022-10-14 09:30] arjanvanvugt commented on #38
Yup same here ziggo NL. API call failed: 404

[2022-10-14 09:47] JBakers commented on #38
Following this issue, because I'm experiencing the same problems. Ziggo.

Thanks.

[2022-10-14 09:54] JanStalenburg opened #39 "Can't login anymore by Ziggo. Need an authentication code via a SMS"
**Describe the bug**
Can't login anymore by Ziggo. Need an authentication code via a SMS

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version of the compo

[2022-10-14 10:41] sverleysen commented on #37
I'm having the same issue with telenet

[2022-10-14 10:56] Sholofly commented on #38
They changed the backend indeed. I'm trying to find out what's changed and  find a solution. But time is not my friend this period so please give me some time! Thanks!

[2022-10-14 10:56] Sholofly commented on #37
Libert global has changed the backend . I'm trying to find out what's changed and  find a solution. But time is not my friend this period so please give me some time! Thanks!

[2022-10-14 13:32] mleenaerts commented on #39
![image](https://user-images.githubusercontent.com/18590048/195859144-2dee54ac-df6f-4e85-8322-60506314d591.png)

`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/config_entries.py", line 365, in async_setup
    result = await component.async_setup_entry(hass, self)
  File "/config/custom_components/arris_dcx960/__init__.py", line 45, in async_setup_entry
    await h

[2022-10-14 17:05] mleenaerts commented on #39
I think this can be closed as duplicate of https://github.com/Sholofly/arrisdcx960/issues/38

[2022-10-14 19:00] Martinvdm commented on #38
It seems to be that Ziggo is saving the browser to saved devices. You can find youre saved devices within the control panel of the provider in 'trusted devices' section. It seems that Ziggo is saving it for 90 days as a trusted device. I will call the support this week to ask to disable the function for my account. will keep you informed.

[2022-10-15 08:30] sammyke007 commented on #38
@jsiegenthaler is working on an update/fix for his Homebridge addon at https://github.com/jsiegenthaler/homebridge-eosstb/issues/70#issuecomment-1279691243

I saw that you thanked him already in the credits, so might be less work if you can peek at his fixes ;-)

[2022-10-15 08:33] jsiegenthaler commented on #38
@Sholofly is very welcome to peek at my code ;)

[2022-10-16 10:26] daan62 opened #40 "Telenet new installation can't connect address doesn't exist"
Clearly this is overlapping with the other authentication failures, but since I'm Telenet Belgium and a new installation of the integration there are log messages that might be helpful.

022-10-16 11:00:45.793 DEBUG (SyncWorker_2) [arris_dcx960.arrisdcx960] STEP 1: Get authorization details from https://web-api-preprod-obo.horizon.tv/oesp/v4/BE/nld/web/authorization
2022-10-16 11:00:45.974 DEBUG (

[2022-10-16 11:23] Sholofly commented on #40
Hi @daan62 , thanks for submitting this issue. Is there a possibility we can connect over discord coming weeks? I have the Ziggo version almost running. I hope the telenet version is almost the same :)

[2022-10-16 11:39] daan62 commented on #40
Dat is wat mij betreft prima ja, ben alleen niet erg Discord-savvy. Ik zal
kijken of en hoe ik me daar aan je bekend kan maken.

Bedankt voor de snelle aktie, en uiteraard ook voor de integratie in zijn
geheel!

Groeten,
Danielle

On Sun, Oct 16, 2022, 13:23 Rudolf Offereins ***@***.***>
wrote:

[2022-10-16 17:44] Sholofly commented on #40
Geen probleem man. Mijn discord handle is Sholofly#4951

[2022-10-16 22:07] Sholofly commented on #38
Hi there. Due to backand changes I've created a new custom component: [https://github.com/Sholofly/lghorizon/](https://github.com/Sholofly/lghorizon/).

DISCLAIMER:

- It's not in HACS yet, So manual installation required. (it's just download and copy paste)
- **It only supports Ziggo** until I figured out the other login sequences
- It doesn't support services yet
- It doesn't support recordings

[2022-10-16 22:17] sammyke007 commented on #38
Tnx! FYI: I'm home tomorrow if you need Telenet testing.

[2022-10-16 22:19] Sholofly commented on #38
Thanks @sammyke007 I'm not available tomorrow but I hope I can use your test skills another day?

[2022-10-16 22:20] Sholofly commented on #39
Yup, please move to https://github.com/Sholofly/lghorizon for Ziggo boxes

[2022-10-16 22:20] #39 closed

[2022-10-16 22:21] Sholofly commented on #35
Component is broken for all users. I'm creating a new one: https://github.com/Sholofly/lghorizon
For now this is only available for Dutch (Ziggo) users but i'm planning to support the others too

[2022-10-16 22:21] #35 closed

[2022-10-16 22:22] Sholofly commented on #40
We gaan hier verder: https://github.com/Sholofly/lghorizon

[2022-10-16 22:22] #40 closed

[2022-10-16 22:23] Sholofly commented on #27
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future

[2022-10-16 22:23] #27 closed

[2022-10-16 22:23] Sholofly commented on #6
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future

[2022-10-16 22:23] #6 closed

[2022-10-16 22:23] Sholofly commented on #37
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future

[2022-10-16 22:23] #37 closed

[2022-10-16 22:24] Sholofly commented on #31
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future. The new box is supported too.

[2022-10-16 22:24] #31 closed

[2022-10-16 22:24] Sholofly commented on #21
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future

[2022-10-16 22:24] #21 closed

[2022-10-16 22:25] Sholofly commented on #24
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future. I hope i can fix this issue there

[2022-10-16 22:25] #24 closed

[2022-10-16 22:25] sammyke007 commented on #38
Offcourse!

[2022-10-16 22:26] Sholofly commented on #29
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future. I've looked for device info already but still can''t find it in the API

[2022-10-16 22:26] #29 closed

[2022-10-16 22:26] Sholofly commented on #34
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future

[2022-10-16 22:26] #34 closed

[2022-10-16 22:27] Sholofly commented on #38
Hi there. This component is not functional anymore. I'm continuing here: https://github.com/Sholofly/lghorizon
For now only Ziggo but I'm trying to connect other providers in the future

[2022-10-16 22:27] #38 closed

[2022-10-17 12:30] marcokreeft87 opened #41 "Cannot connect to mediabox anymore. Cannot reinstall the integration either"
**Describe the bug**
Can't connect to my Ziggo Mediabox Next anymore. Gives a cannot_connect error

**To Reproduce**
Steps to reproduce the behavior:

1. Download the integration
2. Login

**Expected behavior**
The integration is configured and I can control the mediabox

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Version of the component**
1.2.0

**Logging**
[

[2022-10-17 12:53] PierreLevres commented on #41
Known issue, see https://github.com/Sholofly/arrisdcx960/issues/39 with comment: closed, new custom component on its way...

[2022-10-17 13:07] Sholofly commented on #41
What @PierreLevres says Marco. Since you're using Ziggo I would like to use your experiences. Please move over to https://github.com/Sholofly/lghorizon and report your findings. Thanks for using the component!

[2022-10-17 13:07] #41 closed

[2022-10-19 07:00] stingone opened #42 "Ziggo login not longer working"
A few days ago the integration is not longer working for ziggo. Probably due to the fact that Ziggo introduced 2 factor login by sms code. Any way to implement this in the integration?

[2022-10-19 08:55] Sholofly commented on #42
This thing is not longer supported. Please move over to [lghorizon](https://github.com/Sholofly/lghorizon)

[2022-10-19 08:55] #42 closed

[2022-10-21 13:21] dennisvdheuvel opened #43 "Error while initializing Home Assistant component"
The component can't be initialized anymore. I tried to re-install and reconfig the component, but then I get the error 'Cant connect'. I try to add a 'Ziggo' account. Below the debug info;

Deze fout is ontstaan door een aangepaste integratie.

Logger: homeassistant.config_entries
Source: custom_components/arris_dcx960/__init__.py:45
Integration: Arris DCX960 (documentation, issues)
First occurred

[2022-10-21 13:32] Sholofly commented on #43
@dennisvdheuvel Hi Dennis, move over to https://github.com/Sholofly/lghorizon-python